.App {
  font-family: 'acfont', sans-serif; 
  margin-bottom: 0;
  padding: 0;
  background-image: url('./acbkg.png');
  min-width: 100%;
  min-height: 100%;
  background-size: contain;
  /* background-repeat: repeat; */
  /* background-position: center; */
}

.center {
  display: flex;
  justify-content: center;
}

@font-face {
  font-family: 'acfont';
  font-style: normal;
  font-weight: normal;
  src: local('acfont'), url(FinkHeavy.woff) format('woff');
  }

  .header {
    font-family: 'acfont', sans-serif;  
    color: yellow;
    background-color: #40916c;
  }

  h1 {
      font-weight: 500;
  }

  p {
    font-weight: 100;
  }

  .inputcontainer {
    display: flex;
    flex-direction: row;
    width: 200px;
    gap: 10px;
  }

  .loading {
    font-family: 'acfont', sans-serif;  
    color: yellow;
  }
